name: Deploy Portfolio to GCP
on:
  push:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/850163145182/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'github-actions-deployer@project-a61a9ba7-3a32-4128-913.iam.gserviceaccount.com'

      - name: Upload to GCS
        run: |
          # Replace 'YOUR_BUCKET_NAME' with your actual bucket name
          gsutil -m rsync -d -R . gs://YOUR_BUCKET_NAME
